body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

/*h1 styles*/
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

h1.example {
  padding-top: 30px;
  text-align: center;
}

/*h3 styles*/
h3 {
  font-size: 1.3em;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

h3.element {
  background-color: green;
}

h3.element2 {
  background-color: pink;
}
